<h1>Eat-Da-Pizza</h1>
<img src='/assets/images/boxes-clipart-pizza.png'>
<h2>Describe your ideal pizza!</h2>
<form class='pizza-form'>
  <div class='form-group'>
    <textarea id='pizzatext' form='add-pizzas' rows='2' cols='30'></textarea>
  </div>
  <button id='add' class='add-pizza' type='submit'>Add Pizza</button>
</form>

<h3>Pizzas to EAT</h3>

<ul>
  {{#each pizzas}}
  {{#unless devoured}}
  {{> pizzas/pizza-block devoured=false}}
  {{/unless}}
  {{/each}}
</ul>

<h3>Pizzas that have been EATEN</h3>

<ul>
  {{#each pizzas}}
  {{#if devoured}}
  {{> pizzas/pizza-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>